<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Pricing\Render">
        <plugin name="KuS_PriceAfterLogin" type="KuS\PriceAfterLogin\Plugin\PricingRendererPlugin" sortOrder="10" disabled="false"  />
    </type>
</config>

